@import url('https://fonts.cdnfonts.com/css/babapro'); 

.header {
  background-color: #d7ffd8; /* light green like your image */
  display: flex;
  align-items: center;
  padding: 30px 90px;
  border-radius: 6px;
  /* adjust width to fit content */
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.title {
  font-family: 'BabaPro', sans-serif;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  letter-spacing: -5px;
}
